@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

strong,
b {
    font-weight: 700;
}

body {
    color: #FFFFFF;
    margin: 0;
    font-size: 1rem;
    font-family: HCo Gotham SSm, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 500;
    line-height: 1.43;
    background-color: #1D1D1D;
}

body::backdrop {
    background-color: #1D1D1D;
}

@font-face {
    font-family: HCo Gotham SSm;
    src: url("/font/GothamSSm-Light.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: HCo Gotham SSm;
    src: url("/font/GothamSSm-Book.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: HCo Gotham SSm;
    src: url("/font/GothamSSm-Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: HCo Gotham SSm;
    src: url("/font/GothamSSm-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: HCo Gotham SSm;
    src: url("/font/GothamSSm-Black.woff2") format('woff2');
    font-weight: 800;
    font-style: normal;
}